.bg-btn {
  background-color: #abef5f;
}
.text-color {
  color: #e9e9e9;
}
.more-text-color {
  color: #494949;
}
.primary {
  background-color: #ffffff;
}
.secondary {
  color: #212121;
}
.font {
  font-family: "Manrope", sans-serif;
}
