.blog-post-grid{
    display: grid;
    gap: 2rem;
}
.blog-post-grid-3{
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
.blog-post-grid-2{
    grid-template-columns: 1fr;
}
.blog-post-card{
    transition: transform 0.2s ease;
}
.blog-post-card:hover {
    transform: scale(1.025);
}
.blog-post-card :is(h3,p){ 
    margin-bottom: 1.2rem;
}
.blog-post-card-content{
    height: 100%;
}
.blog-post-card-content .theme-btn{
    background-color: var(--primary_button_btn_bg);
    color: var(--primary_button_btn_text);
    font-size: 1.5rem;
    cursor: pointer;
    align-self: baseline;
}
.blog-post-card img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 2rem;
    height: 225px;
}
.blog-post-card img.no_blog_img{
      object-fit: contain;
      background-color: #EDEDED;
  }

.blog-post-card_background{
    padding: 20px;
}

/* Blog post 2 col */
.blog-post-grid-2 .blog-post-card{
    align-items: center;
}
 .blog-post-grid-2 .blog-post-card img{
    margin-bottom: 0rem;
}
@media screen and (min-width: 768px) {
    .blog-post-grid-2 > .blog-post-grid-2{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1024px) {
    .blog-post-grid-2{
        grid-template-columns: 1fr 1fr;
    }
}
.blog-post-card_content_background img{
    margin-bottom: -0.25rem;
}
.blog-post-card_content_background > .blog-post-card-content{
    padding: 20px;
}