/**********************
LAST UPDATE: 19/07/2022
***********************/

.theme-btn {
  display: inline-block;
  padding: 0.5em 1em;
  background-color: var(--secondary_button_btn_bg);
  color: var(--secondary_button_btn_text);
  border-radius: var(--btn-border-radius);
  font-weight: 600;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    transition: all 0.5s ease;
}

.theme-btn.no-bg {
  background-color: transparent;
  color: var(--secondary_button_btn_bg);
  text-decoration: underline;
  font-weight: 400;
}

.theme-btn.full-width {
  width: 100%;
  text-align: center;
}
.theme-btn:hover{
	transform: translateY(-5px);
}
.cover-center-bg {
  background-position: center;
  background-size: cover;
}
.atc-wrapper{
	width: 100%;
}
.atc-wrapper input{
	width: 100%;
	text-align: center;
	display: inline-block;
	padding: 0.5em 1em;
	border-radius: 3px;
	font-weight: 600;
	background-color: var(--atc_button_btn_bg);
	color: var(--atc_button_btn_text);
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */ /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	supported by Chrome, Edge, Opera and Firefox */
	transition: all 0.5s ease;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}