.newsletter_wrapper{
    padding: 5rem 0px;
    position: relative;
}
.newsletter_wrapper_has-image{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.newsletter_wrapper_has-image img{
    width: 100%;
}
.newsletter_wrapper :is(h2,p){
    margin-bottom: 10px;
    text-align: center;
}
.newsletter_wrapper small {
    font-size: 1.2rem;
}
.newsletter_wrapper small a{
    text-decoration: underline;
    font-size: inherit;
}
.newsletter_wrapper form{
    display: grid;
    grid-template-columns: 5fr minmax(100px, 1fr);
    padding: 1rem;
    max-width: 525px;
    position: relative;
}
.newsletter_wrapper form input{
    margin-bottom: 1em;
    font-size: 1.5rem;
    padding: 0.9334em;
    width: 100%;
    border-radius: 0.25em;
}
.newsletter_wrapper form input[type="submit"]{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer;
}

.newsletter-content{
    isolation: isolate;
}
.newsletter-success{
    background-color: #2bc551;
    padding: 1em;
    border-radius: 0.25em;
    margin-top: 10px;
    transform: translateY(70px);
    pointer-events: none;
    opacity: 0;
    position: fixed;
    bottom: 0;
    transition: all 0.35s cubic-bezier(0,1.5,1,1.5);
    z-index: 9;
    display: flex;
    align-items: center;
}
.newsletter-success p{
    margin:0;
    color: #FFFFFF;
    width: max-content;
    font-size: 1.75rem;
}
.newsletter-success svg{
    width: 20px;
    height: auto;
    margin-right: 10px;
    fill: #FFF;
}
.newsletter-success.success{
    transform: translateY(-10px);
    opacity: 1;
}
#ekmResponseSignupButton{
    position: relative;
    isolation: isolate;
}
.newsletter_wrapper form:before{
    content: "SENDING";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    left: 0;
    width: 100%;
    height: 51px;
    background-color: #2bc552;
    z-index: 1;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.35s cubic-bezier(0,1.5,1,1.5);
        transform: translateY(50px);
}

.newsletter_wrapper.showing form:before{
    transform: translateY(0px);
     opacity: 1;
}
.newsletter_wrapper.showing.exit form:before{
    transform: translateY(-50px);
     opacity: 0;
}


@media screen and (min-width:768px) {
.newsletter_wrapper_has-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
}