* {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}
.box {
  height: 500px;
  /* background-image: url('pe.jpeg'); */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pe.jpeg");
  background-size: cover;
  background-position: center;
  margin: 30px;
  border-radius: 10px;
}
.blog-container {
  display: flex;
  margin-bottom: 100px;
}
.task1,
.task2 {
  width: 200px;
  border: 2px solid rgb(116, 112, 112);
  border-radius: 5px;
  margin-left: 30px;
  padding: 50px;
  box-shadow: 5px 5px 10px 5px rgb(215, 216, 219);
  background-color: rgb(179, 203, 228);
}
