@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ffffff;
    color: #1a202c;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dark body {
    background-color: #1a202c;
    color: #e2e8f0;
  }
  

