/* Responsive For Small Device */

@media screen and (max-width: 576px) {
  /* Nav and BannerSection */

  .nav_bar {
    width: 90%;
  }
  .nav_bar ul {
    display: none;
  }
  .ham-burger {
    display: block;
    color: rgb(255, 255, 255);
  }
  .banner-container {
    flex-direction: column;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .banner-text {
    width: 100%;
    margin-top: 5px;
  }
  .banner-text h1 {
    font-size: 2.5rem;
  }
  .banner-text p {
    width: 85%;
  }
  .btn,
  .btn2 {
    width: 46%;
  }
  .banner-img {
    margin: 40px 0 0;
    background-position: center;
  }
  .workout {
    width: 50%;
    top: 35px;
    right: -30px;
    padding: 15px 13px;
  }
  .video-tutorial {
    bottom: 225px;
    left: 30px;
  }
  .video-play i {
    display: block;
    color: #ffffff;
    position: relative;
    top: -25px;
    left: -32px;
  }

  /* Change Your Habit Section*/
  .change-habit-section {
    width: 100%;
  }
  .habit-img-container {
    flex-direction: column;
    gap: 40px;
  }
  .habit-img img {
    width: 100%;
  }

  /* Run-Section */
  .run-container {
    flex-direction: column;
    width: 100%;
  }
  .run-text {
    width: 100%;
  }
  .run-text p {
    width: 100%;
    margin-bottom: 15px;
  }
  .run-img {
    width: 100%;
    margin-top: 30px;
  }
  .btn3 {
    /* width: 90%; */
  }

  /* BMI Calculator */
  .bmi-text {
    width: 85%;
  }
  .bmi-calculator-container {
    width: 100%;
    flex-direction: column;
    margin-top: 10px;
  }
  .bmi-table {
    width: 100%;
    margin-bottom: 30px;
  }
  .calculate-your-bmi {
    width: 100%;
  }
  .height input,
  .age input,
  .gender {
    width: 45%;
  }
  .btn3 {
    width: 60%;
    margin-top: 10px;
  }
  .bmi-table h1 {
    margin-bottom: 25px;
  }
  .calculate-your-bmi h1,
  .bmi-table h1 {
    font-size: 1.3rem;
  }

  /* Meet-team-member*/
  .team-member-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-member img {
    width: 100%;
  }

  /* BLOG section */
  .blog-container {
    width: 100%;
  }
  .blog-detials {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog {
    width: 100%;
    margin-top: 20px;
  }
  .blog-text {
    width: 100%;
  }

  /* Footer-Section */
  .bg-color {
   width: 100%;
  }
  .footer-container {
    margin-top: 20px;
    width: 100%;
    grid-template-columns: 100%;
  }
  .logo-text {
    margin-bottom: 20px;
  }
  .contact h2,
  .info h2 {
    margin-top: 20px;
  }
  hr {
    width: 100%;
  }
  .footer {
    text-align: left;
  }
}
