@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
.container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 30px 15rem 30px;
  align-items: center;
}
.div ul {
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo {
  font-size: 30px;
  color: rgb(38, 41, 41);
}
.search{
    display: flex;
    align-items: center; 
}
.search input{
    border: none;
    padding: 10px 40px 10px 10px;
    border-bottom: 2px solid transparent;
    text-align: right;
    transition: border-bottom-color 0.3s;
    font-family: sans-serif;
}
.search input:focus{
   outline: none;
   border-bottom-color: #0b0b0b;
}
.search i{
    font-size: 25px;
}
.main{
    height:75vh;
    background-image:url('IMG_9657.JPG');
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    border-radius: 10px;
}