.country {
  border: 2px solid rgb(211, 161, 169);
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
}
.btn {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  border: 1px solid blueviolet;
  margin-bottom: 10px;
}
