@media screen and (max-width: 800px) {
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .navbar>div{
        margin-top: 20px;
    }
    .offer{
        left: 30%;
    }
    .popular-main{
        grid-template-columns: repeat(2,1fr);
    }
    
}


@media screen and (max-width: 500px) {

    .hamburger{
        display: block;
    }
    .navbar{
        flex-direction: row;
    }
    .navbar .btn{
        display: none;
    }
   
    .banner-section{
        flex-direction: column;
    }
    .banner-chid{
        width: 100%;
    }
   .popular-main{
    grid-template-columns: repeat(1,1fr);
}
.row-1,.row-2{
    padding: 10px;
    grid-template-columns: 1fr
}


    
}
