.media{
  
}
.media video{
    width: 300px;
    height: 200px;
    
}
.media iframe{
    width: 300px;
    height: 200px;
}
/* Blog */
.learn{
    text-align: center;
}
nav > ul > li{
    display: inline;
    margin-right: 10px;
}
nav > ul > li > a{
    text-decoration: none;
}
figure img{
    width: 500px;
    height: 400px;
    object-fit: cover;   
}

/* Form */
label{
    display: block;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.form{
    margin-bottom: 10rem;
}

/* Table */
table{
    border-collapse: collapse; 
 }
td,th{
    border: 1px solid black;
    padding: 5px 10px;
}